Repository Theodo-UK/theodo-good-tests, pull requests merged in 2018-10, with the labels that each got.

#28 Add state of the art testing practices
  README.md
  documentation-tree/general/types-of-testing.md
  documentation-tree/general/when-to-test.md
Labels: General, Master

#14 Saga testing
  documentation-tree/react/saga.md
Labels: React

#32 Form validation test
  documentation-tree/django.md
  documentation-tree/django/form-validation.md
Labels: Django
